- @categories.each do |category|
  .col-md-6
    .media
      - first_playlist = category.playlists.active.order('created_at DESC').first
      - if first_playlist
        = link_to playlist_path(first_playlist.id), class: 'pull-left' do
          = image_tag first_playlist.image_preview_url, class: 'media-object', size: '280x200'
        .media-body
          - other_playlist = category.playlists.active.where.not(id: first_playlist).order('created_at DESC').first
          = image_tag other_playlist, size: '100x100'

    %h3= category.name

