#category-submenu.col-md-3.check-element.animate-show
  #category-submenu-title
    {{categoryName}}
  #category-submenu-random
    %span.btn.btn-default{ data: { 'ng-click' => 'setRandomSelectedVideo()' } }
      Random
    .btn-group
      %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('false')", 'ng-class' => "{ active: selectedFilter == 'false' }" } }
        Videos
      %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('all')", 'ng-class' => "{ active: selectedFilter == 'all' }" } }
        All
      %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('true')", 'ng-class' => "{ active: selectedFilter == 'true' }" } }
        Playlists
  #category-submenu-filter
    %span.glyphicon.glyphicon-search
    %input.form-control{ data: { 'ng-model' => 'searchVideo.title' } }
  #category-submenu-items
    %ul
      %li{ data: { 'ng-repeat' => 'item in items | filter: searchVideo' } }
        %span.play-icon.glyphicon.glyphicon-play-circle{ data: { 'ng-show' => 'selectedVideo.id == item.id' } }
        %a{ data: { 'ng-class' => '{active: selectedVideo.id == item.id}', 'ng-click' => 'setSelectedVideo(item)' } }
          {{item.title}}
        %span.label.label-warning
          {{item.is_playlist ? 'Playlist' : 'Video'}}
#category-video-block.col-md-7
  %div{ data: { 'ng-hide' => 'selectedVideo' } }
    home
  #selected-video-block{ data: { 'ng-show' => 'selectedVideo' } }
    #selected-video-title
      {{selectedVideo.title}}
    #selected-video-iframe
      %iframe{ data: { 'ng-src' => '{{url}}' } }