#loader{ data: { 'ng-if' => 'loading' } }
  %img{ data: { 'ng-src' => "#{asset_path('loading.gif')}" } }
.empty-col.col-md-1.col-xs-12
.col-md-6.col-xs-12
  #selected-video-block.panel.panel-default.animate-opacity{ data: { 'ng-if' => '!loading' } }
    .panel-heading
      %span{ data: { 'ng-if' => 'radioClip'} }
        {{clip.title}}
      %span{ data: { 'ng-if' => 'selectedVideo' } }
        {{selectedVideo.title}}

      #radio-between.pull-right{ data: { 'ng-if' => '!loading && radioClip && items.length > 1' } }
        %a.animate-opacity{ data: {'ng-click' => 'nextRadioClip()', 'ng-show' => '!letRepeatFlow' } }
          Next
          %span.glyphicon.glyphicon-step-forward
        %a.animate-opacity{ data: {'ng-click' => 'repeatRadioClip()', 'ng-show' => 'letRepeatFlow' } }
          Repeat
          %span.glyphicon.glyphicon-repeat
    .panel-body{ data: { 'ng-if' => '!loading && radioClip' } }
      #selected-video-iframe
        #radio-iframe{ data: { 'youtube-video' => '', 'video-id' => 'clip.url' } }

#category-submenu.col-md-4.col-xs-12
  .panel.panel-default.animate-opacity{ data: { 'ng-if' => '!loading' } }
    .panel-heading
      {{categoryName}}
      #category-submenu-filter.pull-right
        %input.form-control{ data: { 'ng-model' => 'searchVideo.title' } }
        %span.glyphicon.glyphicon-search
    .panel-body
      #category-submenu-random
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('all')", 'ng-class' => "{active: selectedFilter == 'all'}"  } }
          all
        %button.btn.btn-default{ type: 'button', data: { 'ng-repeat' => 'sub in subcategories', 'ng-click' => "itemTypeFilter(sub)", 'ng-class' => "{active: selectedFilter == sub}"  } }
          {{sub}}
      #category-submenu-items
        .col-md-12.repeated-item{ class: 'animate-opacity', data: { 'ng-repeat' => 'item in items | filter: searchVideo', 'ng-click' => 'setSelectedVideo(item)' } }
          .col-md-4.col-xs-12
            %img{ data: { 'ng-src' => '{{item.image_preview_url}}' } }
          .col-md-8.col-xs-12.repeated-body{ data: { 'ng-class' => '{active: selectedVideo.id == item.id || clip.id == item.id}' } }
            {{item.title}}
            %br
            %span.repeated-category
              {{item.category_name}} -
              {{item.is_playlist ? 'PLAYLIST' : 'VIDEO'}}
            .repeated-views
              {{item.view}} views
      #category-submenu-entertain
        .cell-entertain
          %button.btn.btn-default{ 'title' => 'Random', data: { 'ng-click' => 'radioClipToRandom()', 'ng-class' => '{active: randomizeRadioClip}' } }
            %span.play-icon.glyphicon.glyphicon-random
            RANDOM
        .cell-entertain
          %button.btn.btn-default{ 'title' => 'Repeat', data: { 'ng-click' => 'radioClipToRepeat()', 'ng-class' => '{active: repeatizeRadioClip}' } }
            %span.play-icon.glyphicon.glyphicon-repeat
            REPEAT
              