#category-submenu.col-md-3
  #submenu.animate-opacity{ data: { 'ng-if' => '!loading' } }
    #submenu-block
      #category-submenu-title
        {{categoryName}}
      #category-submenu-random
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('all')", 'ng-class' => "{active: selectedFilter == 'all'}"  } }
          all
        %button.btn.btn-default{ type: 'button', data: { 'ng-repeat' => 'sub in subcategories', 'ng-click' => "itemTypeFilter(sub)", 'ng-class' => "{active: selectedFilter == 'false'}"  } }
          {{sub}}
      #category-submenu-filter
        %span.glyphicon.glyphicon-search
        %input.form-control{ data: { 'ng-model' => 'searchVideo.title' } }
      #category-submenu-items
        %ul
          %li{ class: 'animate-opacity', data: { 'ng-repeat' => 'item in items | filter: searchVideo' } }
            %a{ data: { 'ng-class' => '{active: selectedVideo.id == item.id || clip.id == item.id}', 'ng-click' => 'setSelectedVideo(item)' } }
              %span.glyphicon{ data: { 'ng-class' => "item.is_playlist ? 'glyphicon-list' : 'glyphicon-play-circle'"  } }
              {{item.title}}
      #category-submenu-entertain
        .cell-entertain
          %button.btn.btn-default{ data: { 'ng-class' => '{active: radioClip}', 'ng-click' => 'setRadioClip()' } }
            %span.play-icon.glyphicon.glyphicon-play-circle
            Launch Video Flow
        .cell-entertain
          %div.animate-opacity{ data: { 'ng-if' => 'radioClip' } }
            %button.btn.btn-default{ 'title' => 'Random', data: { 'ng-click' => 'radioClipToRandom()', 'ng-class' => '{active: randomizeRadioClip}' } }
              %span.play-icon.glyphicon.glyphicon-random
            %button.btn.btn-default{ 'title' => 'Repeat', data: { 'ng-click' => 'radioClipToRepeat()', 'ng-class' => '{active: repeatizeRadioClip}' } }
              %span.play-icon.glyphicon.glyphicon-repeat

#category-video-block.col-md-7
  #selected-video-block{ data: { 'ng-if' => 'radioClip' } }
    #selected-video-title
      {{clip.title}}
    #selected-video-iframe
      #radio-iframe{ data: { 'youtube-video' => '', 'video-id' => 'clip.url' } }
    #radio-between{ data: { 'ng-if' => 'items.length > 1' } }
      %a.animate-opacity.pull-right{ data: {'ng-click' => 'nextRadioClip()', 'ng-show' => '!letRepeatFlow' } }
        Next
        %span.glyphicon.glyphicon-step-forward
      %a.animate-opacity.pull-right{ data: {'ng-click' => 'repeatRadioClip()', 'ng-show' => 'letRepeatFlow' } }
        Repeat Video Flow
        %span.glyphicon.glyphicon-repeat

  #selected-video-block{ data: { 'ng-if' => 'selectedVideo && !radioClip' } }
    #selected-video-title
      {{selectedVideo.title}}
    #selected-video-iframe
      %iframe{ allowfullscreen: '1', frameborder: '0', data: { 'ng-src' => '{{fullUrl}}'} }
