#category-show
  #search-category.col-md-12
    .col-md-1.col-xs-2#back-link
      %a{ data: { 'ng-href' => '/' } }
        %span.glyphicon.glyphicon-chevron-left
    .col-md-8.col-xs-10
      %input.form-control{ placeholder: 'Search Playlist, Video...', data: { 'ng-model' => 'searchText.title' } }
    .col-md-3.col-xs-12
      .btn-group
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('false')", 'ng-class' => "{ active: selectedFilter == 'false' }" } }
          Videos
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('all')", 'ng-class' => "{ active: selectedFilter == 'all' }" } }
          All
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('true')", 'ng-class' => "{ active: selectedFilter == 'true' }" } }
          Playlists

  #random-video.col-md-12
    #block-button-random.col-md-12.col-xs-12
      %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "getRandomItem()" } }
        Random
      %a#close-random{ data: { 'ng-click' => 'randomItem = null', 'ng-show' => 'randomItem' } }
        %span.glyphicon.glyphicon-remove
    #random-block.col-md-12.col-xs-12.fadein.fadeout{ data: { 'ng-show' => 'randomItem' } }
      %iframe{ data: { 'ng-src' => '{{url}}' } }
      .random-video-title
        {{randomItem.title}}

  #list-video.col-md-12
    .media.media-category.col-md-6.col-xs-12{ type: 'text', data: { 'ng-repeat' => 'item in items | filter:searchText' } }
      .col-md-5
        %a.media-category-link{ data: { 'ng-href' => "{{itemType(item)}}/{{item.id}}" } }
          %img.media-object.media-category-image{ data: { 'ng-src' => '{{item.image_preview_url}}' } }
      .col-md-7
        .media-body
          %a.media-category-link{ data: { 'ng-href' => "{{itemType(item)}}/{{item.id}}" } }
            %h4.media-category-heading
              {{item.title}}
          .item-type.badge{ data: { 'ng-class' => "item.is_playlist == true ? 'item-type-playlist' : 'item-type-video'" } }
            {{item.is_playlist == true ? 'Playlist' : 'Video'}}
          .media-category-stat
            %span
              {{item.created_at | date: 'fullDate'}}
            %span
              {{item.duration/60 | number:2}} minutes
