.col-md-12.category-show
  #search-category
    %form{ role: 'form' }
      %a{ data: { 'ng-href' => '/' } }
        %span.glyphicon.glyphicon-chevron-left
      %input.form-control{ placeholder: 'Search Playlist, Video...', data: { 'ng-model' => 'searchText.title' } }
      .btn-group
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('false')", 'ng-class' => "{ active: selectedFilter == 'false' }" } }
          Videos
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('all')", 'ng-class' => "{ active: selectedFilter == 'all' }" } }
          All
        %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "itemTypeFilter('true')", 'ng-class' => "{ active: selectedFilter == 'true' }" } }
          Playlists

  #random-video
    %button.btn.btn-default{ type: 'button', data: { 'ng-click' => "getRandomItem()" } }
      Random
    #random-block{ data: { 'ng-show' => 'randomItem', 'ng-animate' => "'animate'" } }
      %a#close-random{ data: { 'ng-click' => 'randomItem = null' } }
        %span.glyphicon.glyphicon-remove
      #block-video
        %iframe{ data: { 'ng-src' => '{{url}}' } }
        %span.random-video-title
          {{randomItem.title}}

  #list-video
    .media.media-category.col-md-6{ type: 'text', data: { 'ng-repeat' => 'item in items | filter:searchText' } }
      %a.pull-left.media-category-link{ data: { 'ng-href' => "{{item.is_playlist == true ? 'playlists' : 'videos'}}/{{item.id}}" } }
        %img.media-object.media-category-image{ data: { 'ng-src' => '{{item.image_preview_url}}' } }
      .media-body
        %a.media-category-link{ data: { 'ng-href' => "{{item.is_playlist == true ? 'playlists' : 'videos'}}/{{item.id}}" } }
          %h4.media-category-heading
            {{item.title}}
        .media-category-stat
          %span
            {{item.created_at | date: 'fullDate'}}
          %span
            {{item.duration/60 | number:2}} minutes
        .item-type.badge{ data: { 'ng-class' => "item.is_playlist == true ? 'item-type-playlist' : 'item-type-video'" } }
          {{item.is_playlist == true ? 'Playlist' : 'Video'}}
