#home-view
  #loader{ data: { 'ng-if' => 'loading' } }
    %img{ data: { 'ng-src' => "#{asset_path('loading.gif')}" } }
  #videos-list.col-md-5.col-sm-12.col-xs-12
    .items.panel.panel-default.animate-opacity{ data: { 'ng-if' => '!loading' } }
      .panel-heading
        Last Videos & Playlists
      .panel-body
        .col-md-12.col-sm-6.col-xs-12.repeated-item{ data: { 'ng-repeat' => 'video in videos' } }
          .col-md-4.col-sm-6.col-xs-12
            %a{ data: { 'ng-href' => 'categories/{{video.main_category_slug}}/{{video.slug}}' } }
              %img{ data: { 'ng-src' => '{{video.image_preview_url}}' } }
          .col-md-8.col-sm-6.col-xs-12.repeated-body
            %a{ data: { 'ng-href' => 'categories/{{video.main_category_slug}}/{{video.slug}}' } }
              %h4
                {{video.title}}
              %span.repeated-category
                {{video.main_category_name}} - {{video.category_name}}
              .repeated-views
                {{video.view}} views
  .col-md-7.col-sm-12.col-xs-12.animate-opacity{ data: { 'ng-if' => '!loading' } }
    #top-videos.panel.panel-default
      .panel-heading
        Top Videos
      .panel-body
        #slick-slider{ data: { 'slick' => '' } }
          %div{ data: { 'ng-repeat' => 'video in top_videos' } }
            %a{ data: { 'ng-href' => 'categories/{{video.main_category_slug}}/{{video.slug}}' } }
              %img{ data: { 'ng-src' => '{{video.image_preview_url}}' } }
            .top_title
              %a{ data: { 'ng-href' => 'categories/{{video.main_category_slug}}/{{video.slug}}' } }
                {{video.title | limitTo: 40}}{{video.title.length > 40 ? '...' : ''}}
            .top_view
              {{video.main_category_name}}
    .panel.panel-default
      .panel-heading
        Top Playlists
      .panel-body
        #slick-slider{ data: { 'slick' => '' } }
          %div{ data: { 'ng-repeat' => 'playlist in top_playlists' } }
            %a{ data: { 'ng-href' => 'categories/{{playlist.main_category_slug}}/{{playlist.slug}}' } }
              %img{ data: { 'ng-src' => '{{playlist.image_preview_url}}' } }
            .top_title
              %a{ data: { 'ng-href' => 'categories/{{playlist.main_category_slug}}/{{playlist.slug}}' } }
                {{playlist.title | limitTo: 40}}{{playlist.title.length > 40 ? '...' : ''}}
            .top_view
              {{video.main_category_name}}
    #logo-bottom
      MEK WE DWEET TV
