#home-view.col-md-10
  .col-md-6.col-xs-12.category-block.animate-opacity{ data: { 'ng-repeat' => 'category in categoriesItems' } }
    .category-inblock.col-md-12.col-xs-12
      .category-inblock-left.col-md-4.col-xs-12
        %img{ width: '100%', height: '159px', data: { 'ng-src' => '{{category[0].items[0][0].item.image_preview_url}}' } }
      .category-inblock-right.col-md-8.col-xs-12
        %h2
          %a{ data: { 'ng-href' => 'categories/{{category[0].slug}}' } }
            {{category[0].name}}
          %span.pull-right.category-videos-count
            {{category[0].playlists_count}} Playlists & {{category[0].videos_count}} Videos
        .category-inblock-news{ data: { 'ng-repeat' => 'video in category[0].items' } }
          %a{ data: { 'ng-href' => 'categories/{{video[0].path_slug}}' } }
            %span.glyphicon{ data: { 'ng-class' => "video[0].item.is_playlist ? 'glyphicon-list' : 'glyphicon-play-circle'"  } }
            {{video[0].item.title}}