.col-md-12
  #link-back-video
    %h2
      %a{ data: { 'ng-href' => 'categories/{{playlist.category_id}}' } }
        %span.glyphicon.glyphicon-chevron-left
      {{playlist.title}}
      %span.item-type.badge.item-type-playlist
        Playlist
  #block-video
    %iframe{ data: { 'ng-src' => '{{url}}' } }