#video-title-block.col-md-12
  .col-md-1.col-xs-2#back-link
    %a{ data: { 'ng-href' => '{{previousUrl()}}' } }
      %span.glyphicon.glyphicon-chevron-left
  .col-md-11.col-xs-10#video-title
    {{video.title}}
    %span.item-type.badge{ data: { 'ng-class' => "video.is_playlist == true ? 'item-type-playlist' : 'item-type-video'" } }
      {{video.is_playlist == true ? 'Playlist' : 'Video'}}
.col-md-12
  #block-video
    %iframe{ data: { 'ng-src' => '{{url}}' } }