#search-category
  padding: 25px 25px
  a
    font-size: 20px
    margin-right: 50px
    vertical-align: middle
    &:hover
      text-decoration: none
  input
    display: inline-block
    width: 60%
    margin-right: 10%
.category-show
  .media-category:nth-child(even)
    margin-right: 4%
  .media-category:nth-child(odd)
    margin-right: 0
  .col-md-6
.media-category
  width: 48%
  background: white
  position: relative
  margin-top: 25px
  padding: 25px 25px
.media-category-image
  width: 200px
  height: 150px
.media-category-link
  &:hover
    text-decoration: none
.media-category-heading
  padding-left: 10px
  font-size: 20px
  color: black
.item-type
  margin-left: 10px
  border-radius: 0
  padding: 6px 12px
  margin-top: 5px
  font-size: 14px
.item-type-playlist
  background: hsl(193, 75%, 25%)
.item-type-video
  background: hsl(193, 75%, 45%)
.media-category-stat
  position: absolute
  bottom: 0
  width: 100%
  padding-left: 10px
  padding-bottom: 25px

