#category-name
  text-align: center
#search-category
  padding: 25px 25px
  #back-link
    text-align: center
    a
      font-size: 22px
      vertical-align: bottom
      &:hover
        text-decoration: none
    span
      line-height: 30px
  input
    display: inline-block
    width: 100%
    font-size: 18px
  .btn-group
    margin: auto
    .btn
      font-size: 16px
#random-video
  text-align: center
  button
    font-size: 18px
  .random-video-title
    font-size: 40px
#block-button-random
  background: white
  padding: 20px 25px
  position: relative
  #close-random
    position: absolute
    top: 25px
    right: 25px
    font-size: 24px
    color: black
    &:hover
      text-decoration: none
      cursor: pointer
#random-block
  background: white
  padding: 20px 25px
  iframe
    width: 90%
    height: 500px

#list-video
  padding-top: 25px
  .media-category:nth-child(even)
    margin-right: 0
  .media-category:nth-child(odd)
    margin-right: 4%
.media-category
  width: 48%
  background: white
  margin-top: 0
  padding: 20px 10px
.media-category-image
  width: 190px
.media-category-link
  &:hover
    text-decoration: none
.media-category-heading
  padding-left: 10px
  font-size: 26px
  color: black
.item-type
  margin-left: 10px
  border-radius: 0
  padding: 6px 12px
  font-size: 14px
.item-type-playlist
  background: hsl(193, 75%, 25%)
.item-type-video
  background: hsl(193, 75%, 45%)
.media-category-stat
  font-size: 16px
  padding: 5px 0 5px 10px
  color: grey
  span:first-child
    margin-right: 15px

