@font-face
  font-family: 'BebasNeue'
  src: font-url('BebasNeue.otf')

html
  background-color: hsl(0, 0%, 93%)
body
  font-family: 'BebasNeue'
#header
  height: 200px
  background: black
  padding: 0
#banner
  background: image-url('twist.jpg') repeat
  opacity: 0.7
  height: 100%
  width: 100%
  text-align: center
#main-menu
  background: white
  padding: 0
  margin-bottom: 30px
  li
    background: white
    border-bottom: 3px solid white
    border-top: 3px solid white
    text-align: center
    &:hover
      border-radius: 0
      color: black
      background: white
      border-bottom: 3px solid hsl(358, 79%, 45%)
    &.active
      border-radius: 0
      color: black
      background: white
      border-bottom: 3px solid hsl(358, 79%, 45%)
      a
        background: white
    .glyphicon
      font-size: 24px
    font-size: 26px
    a
      color: black
      &:hover
        border-radius: 0
        color: black
        background: white
#logo
  font-size: 40px
  a
    color: white
    &:hover
      color: white
      text-decoration: none
