@font-face
  font-family: 'BebasNeue'
  src: font-url('BebasNeue.otf')

html,
body
  height: 100%
body
  font-family: 'BebasNeue'

#view
  height: 100%
  background-color: hsl(0, 0%, 93%)
#main-menu
  text-align: center
  color: white
  height: 100%
  background: image-url('cartographer.png') repeat
  ul
    padding: 0
    li
      margin: 25px 0
      font-size: 30px
      list-style-type: none
      a
        color: white
        &:hover
          color: white
#logo
  margin: 50px 0
  font-size: 40px
  a
    color: white
    &:hover
      color: white
      text-decoration: none
.slick-slider
  margin-bottom: 0 !important
.slick-prev:before
  color: black !important

.slick-next:before
  color: black !important
