.main-wrapper
  .main-category-block:first-child
    margin-top: 0
.main-category-block
  background: white
  margin: 25px 0
  padding: 25px 0
.category-title-block
  text-align: center
  padding-top: 30px
.category-title
  font-size: 36px
.media-block
  background: white
  margin: 25px 0
  padding: 25px
  h4
    font-size: 30px
    padding: 6px 15px
  .badge,
  .label  
    margin-left: 15px
    font-size: 14px
.media-object-image
  width: 200px
.media-duration
  margin-left: 15px
  padding-top: 6px
  padding-bottom: 6px
.media-object-explore
  margin-top: 30px
  font-size: 20px
.media-object-title
  color: black
  &:hover
    text-decoration: none
