#selected-video-block
  height: 60%
#category-video-block
  height: 100%
#selected-video-title
  text-align: center
  font-size: 34px
  padding: 30px 0
#selected-video-iframe
  height: 100%
  iframe
    display: block
    width: 96%
    margin-left: 2%
    height: 100%

.radio-counter
  margin-left: 15px

#radio-between
  padding: 10px 2%
  .glyphicon
    top: 2px
  a
    font-size: 20px
    color: hsl(0, 0%, 40%)
    &:hover
      color: hsl(0, 0%, 0%)
      cursor: pointer