#selected-video-block,
#category-video-block,
  height: 100%
#selected-video-title
  text-align: center
  font-size: 40px
  padding-top: 75px
  padding-bottom: 50px
#selected-video-iframe
  height: 61%
  iframe
    display: block
    width: 90%
    margin-left: 5%
    height: 100%