#back-link
  text-align: center
  a
    font-size: 22px
    vertical-align: bottom
    &:hover
      text-decoration: none
  span
    line-height: 50px
#video-title-block
  padding: 15px 25px 25px 25px
#video-title
  font-size: 40px
#block-video
  padding: 50px
  background: white
  iframe
    background: black
    width: 90%
    margin-left: 5%
    height: 500px
