!!!5
%html
  %head
    %title Make We Dweet TV - Bass Music Pon de Internet
    %base{ href: '/' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{ data: { 'ng-app' => 'Dweet'} }
    #main-menu.col-md-2{ data: { 'ng-controller' => 'MainMenuCtrl' } }
      #logo
        %a{ data: { 'ng-href' => '/' } }
          Make We Dweet Tv
      %ul
        %li{ data: { 'ng-repeat' => 'category in categories' } }
          %a{ data: { 'ng-href' => 'categories/{{category.slug}}' } }
            {{category.name}}
    #view{ data: { 'ng-view' => '' } }

    = javascript_include_tag 'application'
