!!!5
%html
  %head
    %title Make We Dweet TV - Bass Music Pon de Internet
    %base{ href: '/' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{ data: { 'ng-app' => 'Dweet'} }
    %header
      #lisiere
      #banner
        .container
          #punchline
            {{punchline}}
    .main-wrapper
      .container
        #view{ data: { 'ng-view' => '' } }
    %footer
      #footer-footer

    = javascript_include_tag 'application'
